actionlib==1.13.2
angles==1.9.13
attrs==21.2.0
bondpy==1.8.6
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
cffi==1.15.0
controller-manager==0.19.5
controller-manager-msgs==0.19.5
cv-bridge==1.15.0
cycler==0.10.0
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
dynamic-reconfigure==1.7.1
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
image-geometry==1.15.0
imageio==2.9.0
iniconfig==1.1.1
interactive-markers==1.12.0
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
kiwisolver==1.3.2
laser-geometry==1.6.7
matplotlib==3.4.3
message-filters==1.15.13
networkx==2.6.3
numpy==1.21.3
opencv-contrib-python==4.5.3.56
packaging==21.0
Pillow==8.4.0
pluggy==1.0.0
py==1.10.0
pycparser==2.20
pygame==2.0.2
pymunk==6.2.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-qt-binding==0.4.4
PyWavelets==1.1.1
PyYAML==6.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.6
rosbag==1.15.13
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.15.13
roslaunch==1.15.13
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.13
rosmake==1.15.8
rosmaster==1.15.13
rosmsg==1.15.13
rosnode==1.15.13
rosparam==1.15.13
rospy==1.15.13
rosservice==1.15.13
rostest==1.15.13
rostopic==1.15.13
rosunit==1.15.8
roswtf==1.15.13
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.2
rqt-py-console==0.4.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.2
rqt-top==0.4.10
rqt-topic==0.4.12
rqt-web==0.4.10
rviz==1.14.10
scikit-image==0.18.3
scipy==1.7.1
sensor-msgs==1.13.1
-e git+https://github.com/embaba/simple-playgrounds.git@developManu#egg=simple_playgrounds
six==1.16.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sound-play==0.3.12
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tifffile==2021.10.12
toml==0.10.2
topic-tools==1.15.13
xacro==1.14.10
