PyYAML
pymunk>=6.0.0
numpy
scikit-image
Pillow
pytest
opencv-contrib-python==4.5.5.64
matplotlib
setuptools
-e git+https://github.com/emmanuel-battesti/simple-playgrounds.git@swarm-rescue-v2#egg=spg
#-e /home/battesti/projetCompetDronesDGA/simple-playgrounds
#simple-playgrounds
#spg
fpdf
pandas
pathlib2
gym
arcade
tripy
